<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row bootstrap snippet">
    <div class="col-md-4">
        <div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-yellow">
                <div class="widget-user-image">
                    <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Avatar">
                </div>
                <h3 class="widget-user-username">Nadia Carmichael</h3>
                <h5 class="widget-user-desc">Lead Developer</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                    <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
#######################
<div class="row">
    <div class="well well-lg"><span class="label label-info">Info Label</span>
        <span class="label label-info">Info Label</span></div>
<div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading"> 
                                <ul class="nav nav-tabs"> 
                                        <li class="active"><a href="#tab1default" data-toggle="tab">Info</a></li> 
                                        <li><a href="#tab2default" data-toggle="tab">Menu</a></li> 
                                        <li><a href="#tab3default" data-toggle="tab">Reviews</a></li> 

                                    </ul> 
                        </div> 
                    <div class="panel-body"> 
                            <div class="tab-content"> 
                                    <div class="tab-pane fade in active" id="tab1default">infoContent</div> 
                                    <div class="tab-pane fade" id="tab2default">Default 2</div> 
                                    <div class="tab-pane fade" id="tab3default">Default 3</div> 
                                    <div class="tab-pane fade" id="tab4default">Default 4</div> 
                                    <div class="tab-pane fade" id="tab5default">Default 5</div> 
                                </div> 
                        </div> 
                </div>
</div>

</body>
</html>